html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;

  box-sizing: border-box;

}

html {
  overflow-y: scroll;
}

.layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  min-width: 700px;
}

.content {
  flex-grow: 2;
}

.header {
  background-color: #3C1491;
  color: #fff;
}

.header__content {
  display: flex;
  align-items: center;
  height: 68px;
}

.logo {
  display: block;
  background: url('./logo.png') no-repeat;
  width: 45px;
  height: 36px;
  margin-right: auto;
}

.header__link {
  color: #fff;
  line-height: 22px;
  font-size: 18px;
  margin-left: 25px;
  text-decoration: none;
}

.footer {
  height: 61px;
  background-color: #3C1491;
  color: #fff;
}

.copyright {
  margin: 20px 0 0;
  line-height: 20px;
  font-size: 14px;
}

.hidden {
  display: none;
}

/**/

.content h3 {
  font-size: 36px;
  line-height: 46px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1.63913e-08px;
  color: #333333;
}

.content h4 {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 1.63913e-08px;
  color: #333333;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  color: #0398fc;
}


li {
  margin-top: 5px;
  margin-bottom: 10px;
  list-style: none;
}

.active::before {
  position: absolute;
  content: '';
  margin-left: -20px;
  margin-top: 3.6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #3C1491;

}


/*catalog*/
.catalog {
  display: flex;
  justify-content: space-between;
}

.bikeList {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  flex-grow: 2;
}

.pickUpPoints {
  flex-grow: 1;
  flex-shrink: 0;
}

.bikeList__bike {
  position: relative;
  width: 370px;
  height: 410px;

  margin-right: 29px;
  margin-bottom: 30px;

}

.bikeList__bike__img {
  display: flex;
  width: 250px;
  height: 250px;

  border: 1px solid #CECECE;

  flex-shrink: 0;

  align-items: center;
}

.bikeList__bike__img img {
  width: 100%;
}

.bikeList__bike__name {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1.63913e-08px;
  color: #333333;
}

.bikeList__bike__cost {
  position: absolute;
  bottom: 58px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.63913e-08px;
  color: #333333;
}

.loadMore {
  position: relative;
  text-align: center;
  height: 48px;
  /* margin-top: 10px; */
  margin-bottom: 30px;
}

.btn{
  position: absolute;
  bottom: 0;

  padding: 9px 15px;

  min-width: 101px;
  height: 38px;
  border: 1px solid #3C1491;
  border-radius: 1px;
  background: #3C1491;
  font-family: 'Roboto', sans-serif;
  color: #FFF;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.63913e-08px;
}

/*index.html*/
.index-background{
  position: relative;
  background: url(../images/general-background.png) no-repeat;
  background-size: 100%;
  -moz-background-size: 100%; /*Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+*/
}

.index__layout-bg {
  width: 100%;
  background: rgba(22, 0, 69, 0.42);
}

.index__content__block {
  padding-top: 100px;
  padding-left: 36px;
}

.index__content__block__h1 {
  margin-top: 0;
  max-width: 633px;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
  color: #FFFFFF;
  letter-spacing: 1.63913e-08px;
}

.index__content__block__p {
  max-width: 764.75px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1.63913e-08px;
  color: #FFF;
}

.index__content__block_btn {
  max-width: 440px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 12px;
  min-height: 38px;
}

.index__content__block_btn button {
  position: static;
  margin-bottom: 15px;
  margin-right: 20px;
}


/*registration*/

.center {
  text-align: center;
}

.block {
  display: block;
}

form {
  display: flex;
  margin-bottom: 40px;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 5px;
  width: 369px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
}

input {
  width: 369px;

  margin-bottom: 20px;

  height: 42px;
  border: 1px solid #CECECE;

  box-sizing: border-box;
}

form p {
  margin-top: 0;
  margin-bottom: 20px;

  color: #E30000;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1.63913e-08px;
  color: #333333;
}

.form-btn {
  position: relative;
  width: 369px;
  
  min-height: 38px;
}

.form-btn a {
  position: absolute;
  /* left: 225px; */
  top: 9px;

  color: #0000FF;
}

.registration__a {
  left: 225px;
}

.login__a {
  left: 116px;
}


/*Card-requisites*/

.cardrequisitesBlock {
  position: relative;
}

.badValidation {
  position: absolute;

  left: 379px;
  top: 0;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;

  white-space: nowrap;

  text-align: center;

  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;

  color: #E30000;

}

.badValidation::before {
  position: absolute;
  content: '';
  background: url(../images/triangle.svg);
  width: 8.5px;
  height: 17px;

  margin-left: -28.5px;
  /* margin-right: 30px; */
}

/*Личный кабинет*/
.lk-content {
  display: flex;
  justify-content: space-between;
}

.catalog_lk {
  flex-direction: column;
}

.bikeBlock {
  display: flex;
  justify-content: start;

  margin-bottom: 40px;

  /* flex-shrink: 0; */

  /* max-width: 870px; */
}

.bikeBlock__info {
  margin-left: 51px;
  flex-shrink: 2;

  min-height: 100%;
}

.lk-content h3 {
  margin: 20px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 1.63913e-08px;

  color: #333333;
}

.bikeBlock__info p {
  margin: 10px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.63913e-08px;
  color: #333333;
}

.lk-content button {
  position: static;
  margin: 20px 0;
}


/*LK*/
.lk-title {
  display: flex;
  align-items: baseline;
}

.lk-title p {
  margin: 0;
  margin-left: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 1.63913e-08px;
  color: #B0B0B0;
}

.cardBlock {
  margin-left: 30px;
  width: 370px;
  height: max-content;

  border: 1px solid #CECECE;

  box-sizing: border-box;
}

.cardBlock__title {
  padding-left: 30px;
  padding-right: 30px;


  border-bottom: 1px solid #CECECE;

  box-sizing: border-box;
}

.cardBlock__info {
  padding: 0 30px;
}

.cardBlock__info p {
  margin-bottom: 0;
}


/*Order*/

.bike-code {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 1.63913e-08px;

  color: #333333;
}


/*Map*/
.map {
  margin-bottom: 40px;
  width: 100%;
  height: 600px;
}

.baloon_map {
  padding: 0 60px 0 13px;
}

.baloon_map p {
  margin-top: 15px;
  margin-bottom: 19px;
}

.baloon_map>.btn {
  margin-bottom: 15px;
}

.non_absilute {
  position: static;
}