{{> header}}
    <h3 class="center">Реквизиты карты</h3>
    <form method="POST">
        <label for="numberCard">Номер карты</label>
        <div class="cardrequisitesBlock">
            <input type="text" id="numberCard" name="numberCard" {{#cardRequisites}}value="{{number}}"{{/cardRequisites}}>
            <div class="badValidation" id="numberCardNotValid"></div>
        </div>

        <label for="validity">Срок действия</label>
        <div class="cardrequisitesBlock">
            <input type="text" id="validity" name="validity" {{#cardRequisites}}value="{{date}}"{{/cardRequisites}}>
            <div class="badValidation hidden" id="validityNotValid"></div>
        </div>

        <label for="cvvCode">CVV</label>
        <div class="cardrequisitesBlock">
            <input type="text" id="cvvCode" name="cvvCode" {{#cardRequisites}}value="{{cvv}}"{{/cardRequisites}}>
            <div class="badValidation hidden" id="cvvCodeNotValid"></div>
        </div>
        
        <div class="form-btn">
			<button class="btn" id="btnSubmit" type="submit">Сохранить</button>
		</div>
    </form>

<script src="../js/card-requisites.js" defer></script>
{{> footer}}
