{{> header}}
<div>
  <!--
    При помощи шаблонизатора mustache выведи заголовок каталога.
    Если выбран пункт проката, то в переменной pointInfo будет информация о выбранном пункте
    и в таком случае заголоввок должен быть таким <h3>Каталог велосипедов по адресу %адрес пункта%</h3>
    если пункт не выбран, то такой заголовок <h3>Каталог велосипедов</h3>
  -->
  {{#pointInfo}}
    <h3 id="currentAddress">Каталог велосипедов по адресу {{pointInfo.address}}</h3>
  {{/pointInfo}}

  {{^pointInfo}}
    <h3>Каталог велосипедов</h3>
  {{/pointInfo}}

  <div class="catalog">
    <div id="bikeList" class="bikeList">
      <!-- Здесь необходимо отобразить карточки велосипедов -->
    </div>
    <div class="pickUpPoints">
      <ul>
        <!--
          При помощи шаблонизатора mustache выведи пункты проката из массива pointersList
          <li><a href="/catalog/ID пункта">Адрес пункта</a></li>
          А если у пункта есть флаг isActive, то в списке пометить его
          <li class="active"><a href="/catalog/ID пункта">Адрес пункта</a></li>
        -->
        <h4>Пункты выдачи</h4>
        {{#pointersList}}
        {{#isActive}}
          <li class="active"><a href="/catalog/{{_id}}">{{address}}</a></li>
        {{/isActive}}
        {{^isActive}}
          <li><a href="/catalog/{{_id}}">{{address}}</a></li>
        {{/isActive}}
        {{/pointersList}}

        <!-- А как можно установить класс active этому пункту, если он не находится в pointerList? -->
        <!-- Решил через js -->
        <li id="all_addresses"><a href="/catalog">Все пункты</a></li>

      </ul>
    </div>
  </div>

  <div id="loadMore" class="loadMore hidden">
    <button class="btn" type="button">Загрузить ещё</button>
  </div>
</div>

<script src="../js/api.js" defer></script>
<script src="../js/catalog.js" defer></script>
{{> footer}}
