{{> header}}
  <!-- <a href="/catalog">Начни со страницы каталога</a> -->

  <div class="index__content__block">
    <h1 class="index__content__block__h1">Сервис аренды велосипедов</h1>
    <p class="index__content__block__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse blanditiis illo aperiam voluptatibus at nobis impedit illum deserunt vero commodi voluptate optio excepturi quidem nostrum laboriosam hic quas voluptas, ut!</p>
    <div class="index__content__block_btn">
      <button class="btn" type="button">Арендовать велосипед</button>
      <button class="btn" type="button">Найти пункт выдачи</button>
    </div>
  </div>

  <script src="../js/index.js" defer></script>
{{> footer}}
