{{> header}}

<div class="lk-title">
    <h3> Личный кабинет </h3> 
    <p>{{login}}</p>
</div>


<div class="lk-content">

    <div class="catalog catalog_lk">

        {{#orderList}}
    
        <div class="bikeBlock">
            <div class="bikeList__bike__img">
                <img src="../images/{{bike.img}}" alt="bike img">
            </div>
            <div class="bikeBlock__info">
                <h3>{{bike.name}}</h3>
                <p>Прошло времени - {{formatTotalTime}}</p>
                <p>Стоимость - {{totalCost}} ₽</p>
                <button data-order-id="{{_id}}" class="btn">Вернуть</button>
            </div>
        </div>
    
        {{/orderList}}
        {{^orderList}}
    
        <div class="bikeBlock">
            <p>Нет арендованных велосипедов</p>
        </div>
    
        {{/orderList}}
    
    </div>
    
    <div class="cardBlock">
        <div class="cardBlock__title"><h3>Реквизиты карты</h3></div>
        <div class="cardBlock__info">
            {{#cardRequisites}}
            <p><b>{{cardRequisites.number}}</b></p>
            <p>{{cardRequisites.date}}</p>
            {{/cardRequisites}}
            {{^cardRequisites}}
            <p>Нет данных</p>
            {{/cardRequisites}}
            <button id="cardBlock__btn" class="btn">Изменить</button>
        </div>
    </div>

</div>

<script src="../js/lk.js" defer></script>
{{> footer}}