{{> header}}
	<h3 class="center">Вход</h3>
	<form method="post">
		<label for="login">Логин</label>
		<input type="text" class="" id="login" name="login" value="{{ login }}">

		<label for="password">Пароль</label>
		<input type="password" class="" id="password" name="password">

		{{#isLoginError}}
			<p>
				Неверные логин или пароль
			</p>
		{{/isLoginError}}

		<div class="form-btn">
			<button class="btn" type="submit">Войти</button>
			<a class="login__a" href="/registration">или зарегистрироваться</a>
		</div>
	</form>
{{> footer}}
