{{> header}}

<h3>Пункты выдачи</h3>

<div id="map" class="map"></div>

<script src="https://api-maps.yandex.ru/2.1/?apikey=2e497062-3ba7-4961-84aa-d3c1b50b7ad8&lang=ru_RU" type="text/javascript">
</script>
<script src="../js/api.js"></script>
<script src="../js/map.js"></script>
{{> footer}}
