{{> header}}

<h3>Аренда велосипеда </h3>
	
{{#bikeInfo}}

<div class="bikeBlock">
    <div class="bikeList__bike__img">
        <img src="../images/{{bikeInfo.img}}" alt="bike img">
    </div>
    <div class="bikeBlock__info">
        <h3>{{bikeInfo.name}}</h3>
        <p>Чтобы забрать велосипед, введите код</p>
        <h1 class="bike-code">{{orderCode}}</h1>
    </div>
</div>

{{/bikeInfo}}

{{> footer}}
